<div id="divConteudo">
<!-- ESTE ESPAÇO SERÁ CARREGADO MEDIANTE A UTILIZAÇÃO DO CÓDIGO ABAIXO-->
</div>


<!-- ESTE ESPAÇO SERÁ CARREGADO MEDIANTE A UTILIZAÇÃO DO CÓDIGO ABAIXO-->
<g:formRemote name="frmProduto" url="[controller: 'produto', action: 'salvar']" update="divConteudo" onSuccess="carregarLista()">

Nome: <input type="text" name="nomeProduto" value="${produto.nomeProduto}"> <br />
Edição: <input type="text" name="edicao" value="${produto.edicao}"> <br />
Preço: <input type="text" name="preco" value="${produto.preco}"> <br />
Quantidade em Estoque: <input type="text" name="quantidade" value="${produto.estoque?.quantidade}"> <br />
Quantidade Mínima: <input type="text" name="quantidadeMinima" value="${produto.estoque?.quantidadeMinima}"> <br />
<input type="submit" name="btnsalvarProduto" value="Cadastrar Produto">
<input type="button" name="btnCancelarCadastro" value="Cancelar" onclick="cancelar()">
<input type="hidden" name="id" value="produto.id" />
</g:formRemote>